## Assignment 3 : Web services 
#### Name : Amit Gido
#### ID : 315754606

In [1]:
import pandas as pd
import requests

In [2]:
#Google Maps API key
api_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

In [3]:
# Read the list of destinations from file
with open('dests.txt', 'r') as file:
    destinations = [line.strip() for line in file.readlines()]

In [4]:
# Initialize dataframe to store results
results = []

# Loop over destinations and retrieve information
for dest in destinations:
    
    origins = 'Tel Aviv, Israel'
    destinations = dest
    url = f'https://maps.googleapis.com/maps/api/distancematrix/json?origins={origins}&destinations={destinations}&key={api_key}'
    
    # Retrieve distance and duration
    response = requests.get(url)
    data = response.json()
    if data['status'] != 'OK':
        print(f"Error retrieving data for {dest}: {data['error_message']}")
        continue
    distance_km = data['rows'][0]['elements'][0]['distance']['value'] / 1000
    duration = data['rows'][0]['elements'][0]['duration']['text']
    
    # Retrieve longitude and latitude
    response = requests.get(f'https://maps.googleapis.com/maps/api/geocode/json?address={dest}&key={api_key}')
    data = response.json()
    if data['status'] != 'OK':
        print(f"Error retrieving data for {dest}: {data['error_message']}")
        continue
    longitude = data['results'][0]['geometry']['location']['lng']
    latitude = data['results'][0]['geometry']['location']['lat']
    
    # Add results to list
    results.append({'Target': dest, 'Distance_km': distance_km, 'Duration': duration, 'Longitude': longitude, 'Latitude': latitude})

In [5]:
# Convert list of dictionaries to dataframe
results_df = pd.DataFrame(results)

In [6]:
results_df

      Target  Distance_km          Duration  Longitude   Latitude
0   Istanbul     1815.227   21 hours 3 mins  28.978359  41.008238
1  Amsterdam     4534.843    2 days 0 hours   4.904139  52.367573
2   Valletta     3792.883    2 days 3 hours  14.514100  35.899237
3      Basel     4092.805    1 day 20 hours   7.588576  47.559599
4       Doha     2164.477  22 hours 39 mins  51.531040  25.285447

In [7]:
# Sort dataframe by Distance_km in descending order and select top 3
furthest_cities_by_dis = results_df.sort_values('Distance_km', ascending=False).head(3)

# Print the furthest cities
furthest_cities_by_dis

      Target  Distance_km        Duration  Longitude   Latitude
1  Amsterdam     4534.843  2 days 0 hours   4.904139  52.367573
3      Basel     4092.805  1 day 20 hours   7.588576  47.559599
2   Valletta     3792.883  2 days 3 hours  14.514100  35.899237